.item {
  display: flex;
  justify-content: space-between;

  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.item:not(:first-child) {
  margin-top: 15px;
}

.text {
  font-size: 16px;
}

.label {
  max-width: 350px;
  text-align: right;

  color: gray;
}

.button {
  margin-top: 20px;

  display: flex;
  justify-content: flex-end;
}