body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  padding: 30px 60px;
  /* overflow: hidden; */
  transition: .3s;
}

.item-enter {
  max-height: 0;
}

.item-enter-active {
  max-height: 200px;
  transition: 500ms ease-in;
}

.item-exit {
  overflow: hidden;
  max-height: 200px;
}

.item-exit-active {
  max-height: 0;
  transition: 500ms ease-in;
}

#root {
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}


header.header-light {
  background: #FFF;
  border-bottom: 1px solid #f0f0f0;
}

header.header-dark {
  position: relative;
  z-index: 1000;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 65%);
}

.card {
  /* width: 300px; */
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .ant-card-body {
  height: 100%;
}

.column {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-wrapper .swiper-slide {
  height: auto;
  max-height: 700px;
}

.swiper-wrapper .react-reveal {
  height: 100%;
}

.empty-container {
  margin: 50px auto 0;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
}

.project-card {
  position: relative;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  width: 100%;

  border-bottom: 1px solid #d0d1d1;
  cursor: pointer;
}

.project-card:hover .project-card__img {
  opacity: .7;
}

.project-card__container {
  position: relative;
  padding-top: 70%;
  background: #7d8281;
}

.project-card__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  transition: .3s;
}

.project-card__label {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;

  color: #fff;
  font-size: 16px;
  background: #7d8281;
}

.project-card__type {
  margin-top: 17px;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #7d8281;
}

.project-card__title {
  margin-top: 10px;
  margin-bottom: auto;

  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card__designer {
  margin-top: 25px;

  color: #7d8281;
  font-size: 14px;
  font-weight: 600;
}

.single-project__title {
  margin-right: 7px;

  font-size: 35px;
}

.single-project__label {
  margin-top: 20px;

  font-size: 20px;
  color: gray;
  text-transform: uppercase;
  font-weight: 600;
}

.single-project__description {
  margin-top: 40px;

  font-size: 16px;
}

.single-project__wrapper {
  margin: 20px 0 40px;
  display: flex;
}

.thumb-slide {
  border: 1px solid transparent;
}

.thumb-slide.swiper-slide-thumb-active {
  border-color: red;
}

.filters {
  position: sticky;
  top: 60px;
}

.button-show {
  margin-top: 40px;

  display: flex;
  justify-content: center;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.fade-enter .btn {
  transform: rotateX(-90deg);
}

.fade-enter-active .btn {
  transform: rotateX(0);
}

.fade-exit .btn {
  transform: rotateX(0);
}

.fade-exit-active .btn {
  transform: rotateX(-90deg);
}

.fade-enter-active .btn,
.fade-exit-active .btn {
  transition: transform 300ms;
}

.login-success {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.form {
  margin-top: 40px;
}

.form__row {
  display: flex;
}

.form__col:nth-child(2) {
  margin-left: 30px;
}

.form__item:not(:first-child) {
  margin-top: 15px;
}

.form__input {
  padding: 10px 20px;
  width: 300px;

  font-size: 20px;
  border: 1px solid #001529;
  border-radius: 16px;
  transition: .4s;
}

.form__input.error {
  border-color: red;
}

.form__textarea {
  padding: 10px 20px;
  width: 300px;
  height: 100%;

  resize: none;
  border: 1px solid #001529;
  border-radius: 16px;
  font-size: 18px;
  transition: .4s;
}

.form__textarea.error {
  border-color: red;
}

.checkbox {
  position: relative;

  display: flex;
  align-items: center;
}

.checkbox.error .checkbox__box {
  border-color: red;
}

.checkbox__input {
  position: absolute;

  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked~.checkbox__box {
  background: #001529;
}

.form__inner {
  margin-top: 30px;
}

.form__wrapper {
  margin-top: 20px;

  display: flex;
}

.form__button {
  padding: 13px 30px;

  border: 1px solid #001529;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  background: none;
}

.checkbox__box {
  width: 25px;
  height: 25px;

  display: flex;
  align-content: center;
  justify-content: center;

  border: 1px solid #001529;
  transition: .4s;
}

.checkbox__text {
  margin-left: 15px;

  max-width: 400px;

  font-size: 18px;
}

.checkbox__icon {
  margin-top: 5px;
}

.error-message {
  color: red;
  font-size: 16px;
}